{%  extends 'index.html' %}
{% load mathfilters %}
{% load static %}
{% block one %}
    {%block content%}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>
            body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        </style>

        <body>
        <header class="w3-display-container w3-content w3-center" style="max-width:1000px">
        <img class="w3-image" src="/media/{{cat.image}}" alt="Me" width="1500" height="600">
      <div class="w3-display-bottommiddle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class=" w3-hide-medium w3-hide-small w3-xxxlarge">{{cat.title}}</h1>
        <h5 class="w3-hide-large" style="white-space:nowrap">JANE DOE</h5>
        <h3 class="w3-hide-medium w3-hide-small">PHOTOGRAPHER</h3>
      </div>
        </header>

        <!-- Grid -->
        <div class="w3-row">
            <!-- Blog entries -->
            <div class="w3-col">
                <!-- Blog entry -->
                <div class="w3-white" style="display: contents;">
                    <div class="">
                        <h2>{{cat.title}}</h2>
                    </div>
                    <div class="">
                        <h3>{{cat.description}}</h3>
                    </div>
                </div>


                <div class="w3-row-padding">
                  {% for post in posts %}
                  {% if forloop.counter0|sub:"1"|divisibleby:"3" %} //bug is here
                      <div class="w3-third w3-container w3-margin-bottom">
                        <img src="/w3images/{{ post.image }}" alt="{{ post.alt }}" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                          <p><b>{{ post.title }}</b></p>
                          <p>{{ post.description }}</p>
                        </div>
                      </div>
                    {% endif %}

                    {% if forloop.counter0|divisibleby:"3" %} // bug is here
                      <div class="w3-third w3-container w3-margin-bottom">
                        <img src="/w3images/{{ post.image }}" alt="{{ post.alt }}" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                          <p><b>{{ post.title }}</b></p>
                          <p>{{ post.description }}</p>
                        </div>
                      </div>
                    {% endif %}

                    {% if forloop.counter0|add:"1"|divisibleby:"3" %} // bug is here
                      <div class="w3-third w3-container">
                        <img src="/w3images/{{ post.image }}" alt="{{ post.alt }}" style="width:100%" class="w3-hover-opacity">
                        <div class="w3-container w3-white">
                          <p><b>{{ post.title }}</b></p>
                          <p>{{ post.description }}</p>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

{#                <div class="Collection">#}
{#                    {% for p in posts %}#}
{#                    <a href="/{{p.url}}" class="collection-item">{{ p.title }}<br></a>#}
{##}
{#                        {% empty %}#}
{#                        <h3>No post yet but something is cooking up</h3>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </div>
        </body>
        {% block footer %}
{% endblock footer %}
        </html>


    {%endblock%}
{%endblock%}