{% load static %}
<html lang="eng">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        nav {
            font-family: "Verdana", sans-serif;
        }

        nav ul li {
            padding-top: 8px;
        }
    </style>
</head>

<body>
<!-- Navbar -->
<nav>
    <input type="checkbox" id="check">
    <label class="label-bars" for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>
    <ul>
        <div class="logo unselectable"><b>VELE</b>Log</div>
        <div class="right-nav">
            <li class="right-list"><a href="/home">Home</a></li>
            <li class="right-list"><a href="/contact">Contact Us</a></li>
            <div class="dropdown">
                <li class="right-list"><a href="#">About Us</a></li>
                <div class="dropdown-content">
                    <a href="/about">About</a>
                    <a href="#">Team</a>
                    <a href="#">Aim</a>
                </div>

            </div>
            {% if user.is_authenticated %}
                <li class="right-list"><a href="{% url 'Logout' %}">Logout</a></li>
                <li class="right-list"><a href="#"><img src="https://i.imgur.com/0yRHDdt.png " width="auto"
                                                        height="30px"></a></li>
            {% else %}
                <li class="right-list"><a href="/signin">Sign In</a></li>
            {% endif %}
        </div>
    </ul>
</nav>
<script>
    const checkbox = document.getElementById('check');
    const rightNav = document.querySelector('.right-nav');

    checkbox.addEventListener('change', function () {
        if (this.checked) {
            rightNav.style.left = '0';
        } else {
            rightNav.style.left = '-100%';
        }
    });
</script>
{% block one %}
{% endblock %}

</body>
{% block footer %}

    <!-- Site footer  -->
    <footer>
        <div class="footer-main">
            <hr>
            <div class="left-footer">
                <div>
                    <p class="unselectable"><b>VELE</b>Log</p>
                    <p>Copyright &#169; 2023 VELELog Inc. All rights reserved</p>

                </div>
            </div>
            <div class="right-footer" style="margin-top: 20px;">
                <h1>Connect With Us</h1>
                <ul>
                    <li><i><a href="#" class="fas fa-google"></a></i></li>
                    <li><i><a href="#" class="fas fa-github"></a></i></li>
                    <li><i><a href="#" class="fas fa-linkedin"></a></i></li>
                    <li><i><a href="#" class="fas fa-steam"></a></i></li>
                </ul>
            </div>

        </div>
    </footer>
{% endblock footer %}


</html>