{% extends 'index.html' %}
{% load static %}
{% block two %}
    <html lang="en">
        <head>
            <title>About Us</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
              <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
              <style>
              body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
              </style>
              </head>
        <body>
              <div class="w3-card-4 w3-margin w3-white">
                  <div class="w3-container">
                    <h3><b>About Us</b></h3>
                    <h5>Starting today, <span class="w3-opacity">i.e May 4, 2023</span></h5>
                  </div>
                  <div class="w3-container">
                    <p>Welcome to Vele Log, a digital publishing company focused on providing our readers with useful, actionable advice to further their knowledge. 
                       Our mission is to simplify complex topics and events happening around the world, providing information in a cleaner, more understandable way 
                       than other sites.  At Vele Log, we believe that knowledge is power, and we strive to help our readers stay informed and up-to-date on the latest news 
                       and trends in a variety of industries. Whether you're interested in finance, technology, health, or any other topic, our team of expert writers is here 
                       to provide you with valuable insights and perspectives.  Our target audience is anyone who is eager to learn and expand their knowledge. We strive to 
                       provide information that can help our readers make better decisions and improve their lives.  Although Vele Log is a new startup, we are committed to 
                       achieving great things in the future. Our dedication to excellence and our "KAL AANA KAL" mindset ensures that we</p>
                    <div class="w3-row">
                    </div>
                    </div>
                </div>
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container">
                        <h3><b>Regards</b></h3>
                    </div>
                    <div class="w3-container">
                        <p>Thank you for choosing Vele Log as your source for reliable and informative content. We look forward to helping you expand your knowledge and achieve your goals.</p>
                        <div class="w3-row">
                    </div>
                </div>
        </body>
        
        
    </html>
{% endblock %}