{%  extends 'index.html' %}
{% load socialaccount %}
{% load static %}
{% block one %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
<head>
    <title> Responsive Login and Signup Form </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


</head>
<body style="height: 100%">
<section class="container forms">
    <!-- login Form -->
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
                {% if error_message %}
                    <p class="error-message">{{ error_message }}</p>
                {% endif %}
            <form action="{% url 'signin' %}" method="POST">
                {% csrf_token %} 
                <div class="field input-field">
                    <input type="Username" placeholder="Username" name="username" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" name="password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="signup">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span style="font-size: medium">Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
              <a href="{% provider_login_url 'google' prompt='none' process='login' next=request.GET.next|default:'/' %}" class="field google">
                <img src="images/google.png" alt="" class="google-img">
                <span style="font-size: medium">Login with Google</span>
              </a>
        </div>

    </div>
</section>

<!-- JavaScript -->
<script src="{% static 'js/sign.js' %}"></script>
</body>
{% block footer %}
    {% endblock footer %}
</html>
{% endblock %}